body{
    margin: 0px 2%;
    padding: 0px;
    background-image: url(imageness/cuborubikfondo.jpg);
    font-family: sans-serif;
}
img{
    height: 80px;
    border-radius: 80px;
    padding-right: 2%;
}
header{
    background-color: ghostwhite;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px;
}
header a{
    color: black;
}
header a, #cubing, #metodos-r, footer{
    font-size: 140%;
}
#contenedor{
    display: flex;
}
#cubing{
    background-color: skyblue;
    text-align: center;
    padding: 2%;
}
#metodos-r{
    background-color:palegoldenrod;
    text-align: center;
    padding: 2%; 
}
.metodos a{
    color: black;
}
ol{
    list-style: none;
}
footer{
    background-color: rgb(24, 22, 22);
    color: ghostwhite;
    padding: 20px;
}
a{
    font-weight: bold;
    text-decoration: none;
    color: black;
}
a:hover{
    color: rgb(107, 107, 107);
    text-decoration: underline;
}

@media screen and (min-width:1400px){
    #cartas .carta{
        display:inline-block;
    }
    header{
        flex-direction: row;
        justify-content: space-between;
    }
    nav a{
        margin-right: 20px;
    }
}
